<div class="container">
  <p class="text-success"><%= notice %></p>
  <div class="d-flex justify-content-between">
    <h1>Education Level</h1>
    <div>
      <%= link_to "New Education Level", new_education_level_path, class: "btn btn-success mt-3" %>
    </div>
  </div>
  
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @education_levels.each do |education_level| %>
            <tr>
              <td><%= education_level.name %></td>
              <td>
                <%= link_to education_level, class: 'btn btn-info' do %>
                    <i class="fas fa-eye"></i>
                <% end %>
                <%= link_to edit_education_level_path(education_level), class: 'btn btn-warning' do %>
                    <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to  education_level, class: "btn btn-danger", method: :delete, data: { "turbo-method": :delete, 
                        turbo_confirm: "Tem certesa que deseja excluir este item ?"} do %>
                      <i class="fas fa-trash" ></i> 
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <div>
      <%= link_to admins_path, text: "Back", class: "btn btn-warning" do %>
        <i class="fas fa-arrow-left" ></i> 
        <span>Back Panel</span>
      <% end %>
    </div>
</div>
